@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-5xl);
    line-height: 1.6;
  }

  h3 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }
}

@theme {
  --shadow-md: 0 0 0 3px rgba(74, 103, 65, 0.2);
}